.postsContainer{
  margin-bottom: 54px;
}

.paginationContainer{
  display: block;
  position: absolute;
  bottom: 60px;
  overflow: auto;
}

.timestamp {
    float: right;
    display: inline;
  }

.pagination {
  margin: 0 auto 1em auto;
}

.pagination ul {
  margin: 0;   
}

.postCard {
  margin-bottom: 1em;
}

.postCard .postCardBody {
  padding: 10px 20px 0px 20px;
}

.postCardCount {
  position: relative;
}

.postCardCount .postCardCountContainer {
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: 20px;
  transform: translateY(-50%);
  
}

.postCardTitle a:link, a:visited {
  text-decoration: none;
  color: black;
  display: inline-block;
}

.postCardTitle a:hover, a:active {
  opacity: 0.8;
  transform: scale(1.05);
}

.postCardAuthor a:link, a:visited {
  text-decoration: none;
  color: black;
  display: inline-block;
}

.postCardAuthor a:hover, a:active {
  opacity: 0.8;
  transform: scale(1.05);
}