.postSeparator {
	margin: 0px 0px 1em 0px;
}

.paginationContainer {
	display: block;
	overflow: auto;
}

.timestamp {
		float: right;
		display: inline;
		margin: 0;
	}

.pagination {
	margin: 0 auto 1em auto;
}

.pagination ul {
	margin: 0;   
}

.post .postCard {
	background-color: #7abc9d;
	margin-bottom: 1em;
	border-radius: 0;
	border: none;
}

.post .postCard .postCardBody {
	padding: 10px 20px 0px 20px;
}

.deletePost {
	text-align: right;
}

.newPost {
	text-align: center;
}

.postsContainer .newPost .newPostBtn {
	width: 40%;
	border-radius: 0px;
	border: none;
	margin: 10px 0px;
	padding: 8px 30px;
	background-color:#43917b;
}

.postsContainer .newPost .newPostBtn:hover {
	opacity: 0.8;
	transform: scale(1.05);
}

.postsContainer .newPost .newPostBtn:focus {
	background-color: #43917b;
	border-color: #43917b;
}

.postsContainer .newPost .newPostBtn:active {
	background-color: #43917b;
	border-color: #43917b;
	outline:0;
}

.post .deletePost .deletePostBtn {
	border-radius: 0px;
	border: none;
	margin: 10px 0px;
	padding: 8px 30px;
	background-color:#ff3f3f;
}

.post .deletePost .deletePostBtn:hover {
	opacity: 0.8;
	transform: scale(1.05);
}

.post .deletePost .deletePostBtn:focus {
	background-color:#ff3f3f;
	border-color:#ff3f3f;
}

.post .deletePost .deletePostBtn:active {
	background-color:#ff3f3f;
	border-color:#ff3f3f;
	outline:0;
}

.postCardCount {
	position: relative;
}

.postCardCount .postCardCountContainer {
	position: absolute;
	top: 50%;
	right: 0;
	margin-right: 20px;
	transform: translateY(-50%);
}

.postCardCountContainer .upvoteBtnUp {
	cursor: pointer;
}

.postCardCountContainer .upvoteBtnUp:hover {
	opacity: 0.8;
	color:rgba(0,128,0,0.75);
	transform: scale(1.05);
}

.postCardCountContainer .upvoteBtnDown {
	cursor: pointer;
}

.postCardCountContainer .upvoteBtnDown:hover {
	opacity: 0.8;
	color:rgba(255,0,0,0.75);
	transform: scale(1.05);
}

.postCardCountContainer a:link, a:visited {
	text-decoration: none;
	color: black;
	display: inline-block;
}

.postCardCountContainer a:hover, a:active {
	opacity: 0.8;
	color: black;
	transform: scale(1.05);
}

.postCardTitle .link:link, .link:visited {
	text-decoration: none;
	color: black;
	display: inline-block;
	font-weight: bold;
}

.postCardTitle .link:hover, .link:active {
	opacity: 0.8;
	transform: scale(1.05);
}

.postCardBody .postCardTitle .editPostTitleBtn {
	border-radius: 0px;
	border: none;
	margin: 0px 10px;
	padding: 6px 12px;
	background-color:#43917b;
}

.postCardBody .postCardTitle .editPostTitleBtn:hover {
	opacity: 0.8;
	transform: scale(1.05);
}

.postCardBody .postCardTitle .editPostTitleBtn:focus {
	background-color: #43917b;
	border-color: #43917b;
}

.postCardBody .postCardTitle .editPostTitleBtn:active {
	background-color: #43917b;
	border-color: #43917b;
	outline:0;
}

.editPostBody {
	text-align: right;
}

.postCardBody .editPostBody .editPostBodyBtn {
	border-radius: 0px;
	border: none;
	margin-bottom: 10px;
	padding: 6px 12px;
	background-color:#43917b;
}

.postCardBody .editPostBody .editPostBodyBtn:hover {
	opacity: 0.8;
	transform: scale(1.05);
}

.postCardBody .editPostBody .editPostBodyBtn:focus {
	background-color: #43917b;
	border-color: #43917b;
}

.postCardBody .editPostBody .editPostBodyBtn:active {
	background-color: #43917b;
	border-color: #43917b;
	outline:0;
}

.postCardAuthor .link:link, .link:visited {
	text-decoration: none;
	color: black;
	display: inline-block;
	font-weight: bold;
}

.postCardAuthor .link:hover, .link:active {
	opacity: 0.8;
	transform: scale(1.05);
}

.newPostModal .newPostModalHeader {
	background-color: #8abbad;
	border-radius: 0;
	border: none;
}

.newPostModal .newPostModalBody {
	background-color: #90c7ae;
	border: none;
}

.newPostModal .newPostModalContent {
	border-radius: 0;
}
	
.newPostModal .newPostModalContent .newPostModalForm .newPostModalFormBtnContainer {
	text-align: right;
}

.newPostModal .newPostModalContent .newPostModalForm .newPostModalFormBtn {
	border-radius: 0px;
	border: none;
	background-color:#43917b;
}
	
.newPostModal .newPostModalContent .newPostModalForm .newPostModalFormBtn:hover {
	opacity: 0.8;
	transform: scale(1.05);
}

.newPostModal .newPostModalContent .newPostModalForm .newPostModalFormBtn:focus {
	background-color: #43917b;
	border-color: #43917b;
}

.newPostModal .newPostModalContent .newPostModalForm .newPostModalFormBtn:active {
	background-color: #43917b;
	border-color: #43917b;
	outline:0;
}

.deletePostModal .deletePostModalHeader {
	background-color: #8abbad;
	border-radius: 0;
	border: none;
}

.deletePostModal .deletePostModalBody {
	background-color: #90c7ae;
	border: none;
}

.deletePostModal .deletePostModalContent {
	border-radius: 0;
}

.deletePostModal .deletePostModalContent .deletePostModalBtns {
	text-align: center;
	padding-top: 16px;
}

.deletePostModal .deletePostModalContent .deletePostModalBtns .yesBtn {
	margin: 0px 10px;
	border-radius: 0px;
	border: none;
	background-color:#43917b;
}

.deletePostModal .deletePostModalContent .deletePostModalBtns .noBtn {
	margin: 0px 10px;
	border-radius: 0px;
	border: none;
	background-color:#43917b;
}

.deletePostModal .deletePostModalContent .deletePostModalBtns .yesBtn:hover {
	opacity: 0.8;
	transform: scale(1.05);
}

.deletePostModal .deletePostModalContent .deletePostModalBtns .yesBtn:focus {
	background-color: #43917b;
	border-color: #43917b;
}

.deletePostModal .deletePostModalContent .deletePostModalBtns .yesBtn:active {
	background-color: #43917b;
	border-color: #43917b;
	outline:0;
}

.deletePostModal .deletePostModalContent .deletePostModalBtns .noBtn:hover {
	opacity: 0.8;
	transform: scale(1.05);
}

.deletePostModal .deletePostModalContent .deletePostModalBtns .noBtn:focus {
	background-color: #43917b;
	border-color: #43917b;
}

.deletePostModal .deletePostModalContent .deletePostModalBtns .noBtn:active {
	background-color: #43917b;
	border-color: #43917b;
	outline:0;
}

.editPostTitleModal .editPostTitleModalHeader {
	background-color: #8abbad;
	border-radius: 0;
	border: none;
}

.editPostTitleModal .editPostTitleModalBody {
	background-color: #90c7ae;
	border: none;
}

.editPostTitleModal .editPostTitleModalContent {
	border-radius: 0;
}
	
.editPostTitleModal .editPostTitleModalContent .editPostTitleModalForm .editPostTitleModalFormBtnContainer {
	text-align: right;
}

.editPostTitleModal .editPostTitleModalContent .editPostTitleModalForm .editPostTitleModalFormBtn {
	border-radius: 0px;
	border: none;
	background-color:#43917b;
}
	
.editPostTitleModal .editPostTitleModalContent .editPostTitleModalForm .editPostTitleModalFormBtn:hover {
	opacity: 0.8;
	transform: scale(1.05);
}

.editPostTitleModal .editPostTitleModalContent .editPostTitleModalForm .editPostTitleModalFormBtn:focus {
	background-color: #43917b;
	border-color: #43917b;
}

.editPostTitleModal .editPostTitleModalContent .editPostTitleModalForm .editPostTitleModalFormBtn:active {
	background-color: #43917b;
	border-color: #43917b;
	outline:0;
}

.editPostBodyModal .editPostBodyModalHeader {
	background-color: #8abbad;
	border-radius: 0;
	border: none;
}

.editPostBodyModal .editPostBodyModalBody {
	background-color: #90c7ae;
	border: none;
}

.editPostBodyModal .editPostBodyModalContent {
	border-radius: 0;
}
	
.editPostBodyModal .editPostBodyModalContent .editPostBodyModalForm .editPostBodyModalFormBtnContainer {
	text-align: right;
}

.editPostBodyModal .editPostBodyModalContent .editPostBodyModalForm .editPostBodyModalFormBtn {
	border-radius: 0px;
	border: none;
	background-color:#43917b;
}
	
.editPostBodyModal .editPostBodyModalContent .editPostBodyModalForm .editPostBodyModalFormBtn:hover {
	opacity: 0.8;
	transform: scale(1.05);
}

.editPostBodyModal .editPostBodyModalContent .editPostBodyModalForm .editPostBodyModalFormBtn:focus {
	background-color: #43917b;
	border-color: #43917b;
}

.editPostBodyModal .editPostBodyModalContent .editPostBodyModalForm .editPostBodyModalFormBtn:active {
	background-color: #43917b;
	border-color: #43917b;
	outline:0;
}

.upvoteModal .upvoteModalHeader {
	background-color: #8abbad;
	border-radius: 0;
	border: none;
}

.upvoteModal .upvoteModalBody {
	background-color: #90c7ae;
	border: none;
}

.upvoteModal .upvoteModalContent {
	border-radius: 0;
}