.navbar {
  background-color:#43917b;
  }

.navbar .navBrand .navLink:link, .navLink:visited {
  text-decoration: none;
  color: black;
  display: inline-block;
}

.navbar .navBrand .navLink:hover, .navLink:active {
  opacity: 0.8;
  transform: scale(1.05);
}

.navModal .navModalContent {
  border-radius: 0;
}
  
.navModal .navModalContent .navModalForm .navModalFormBtnContainer {
  text-align: right;
}

.navModal .navModalHeader {
  background-color: #8abbad;
  border-radius: 0;
  border: none;
}

.navModal .navModalBody {
  background-color:#90c7ae;
  border: none;
}

.navModal .navModalContent .navModalForm .navModalFormBtn {
  border-radius: 0px;
  border: none;
  background-color: #43917b;
}
  
.navModal .navModalContent .navModalForm .navModalFormBtn:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.navModal .navModalContent .navModalForm .navModalFormBtn:focus {
  background-color: #43917b;
  border-color: #43917b;
}

.navModal .navModalContent .navModalForm .navModalFormBtn:active {
  background-color: #43917b;
  border-color: #43917b;
  outline:0;
}